<ul *ngIf="paginas?.length > 0" class="pagination"> <!--Se muestra si existe. Para eso el *ngIf-->

    <li [ngClass]="paginador.first?'disabled page-item':'page-item'"><!--Boton link para ir a la primera pagina. Aparece solo si no estamos en la 1era pagina-->
        <!--El ngClass permite mostrar o no la clase del boton link al preguntar si se esta o no en la 1era pagina-->
        <a class="page-link" [routerLink]="['/clientes/page', 0]">First</a> <!--Se linkea a la pagina 0= la primera pagina-->
    </li>

    <li class="page-item" *ngIf="paginador.number > 0"><!--Boton link para ir a la pagina de la izquierda.  Aparece solo si no estamos en la primer pagina-->
        <a class="page-link" [routerLink]="['/clientes/page', paginador.number-1]">&laquo;</a><!--Aca se linkea a la pagina correspondiente -->
    </li>    

    <li *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number?'active':''" ><!--Itera sobre el arreglo 'paginas' si se esta en la misma pagina, activa dicho el boton-->
        <span class="page-link" *ngIf="pagina-1 == paginador.number">{{pagina}}</span><!--El boton de la pagina actual que visualizada, se desactiva.-->
        <a *ngIf="pagina-1 != paginador.number" class="page-link" [routerLink]="['/clientes/page', pagina-1]">{{pagina}}</a><!--Para los demas botones, se activa su link a su correspondiente pagina-->
    </li>

    <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1"><!--Boton link para ir a la pagina de la derecha. Aparece solo si no estamos en la ultima pagina -->    
        <a class="page-link" [routerLink]="['/clientes/page', paginador.number+1]">&raquo;</a><!--Linkeamos a la pagina correspondiente-->
    </li>

    <li [ngClass]="paginador.last?'disabled page-item':'page-item'"><!--Boton link para ir a la ultima pagina. Aparece solo si no estamos en la ultima pagina-->
        <!--El ngClass permite mostrar o no la clase del boton link al preguntar si se esta o no en la ultima pagina-->
        <a class="page-link" [routerLink]="['/clientes/page', paginador.totalPages-1]">Last</a><!--Se linkea a la pagina paginador.totalPages-1 = la ultima pagina-->
    </li>    
    
</ul>
<!--Otra caracteristica importante del ngClass es que puede ahorrar el definir la clase al inicio de la etiqueta, pues desde la sentencia que se le de, se decidira se
    muestar o no el tipo de clase que obtendra el elemento-->