<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">{{err}}</li>
</ul>
<div class="card bg-dark text-white my-2">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form #clienteForm="ngForm">  
            <!--El [(ngModel)] cumple la funcion de enlazar, los datos que se registran en el formulario, al objeto en cuestion-->
            <div class="form-group row">    <!--Campo nombre del formulario-->
                <label for="nombre" class="col-from-label col-sm-2">Nombre</label>  <!--Etiqueta nombre-->
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel">  <!--Caja de texto Nombre--><!--required minlength="4"-->
                    <!--Se validan los posibles errores al ingresar el campo nombre-->
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            Nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            Nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="apellido" class="col-from-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel"> <!--Caja de texto Apellido--><!--required-->
                    <!--Se validan los posibles errores al ingresar el campo apellido-->
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched )">
                        <div *ngIf="apellido.errors.required">
                            Apellido es requerido
                        </div>                        
                    </div>
                </div>
            </div>
        
            <div class="form-group row">
                <label for="email" class="col-from-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"><!--Caja de texto Email--><!--required email-->
                    <!--Se validan los posibles errores al ingresar el campo email-->
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched )">
                        <div *ngIf="email.errors.required">
                            Email es requerido
                        </div>
                        <div *ngIf="email.errors.email">
                            Email debe tener un formato valido
                        </div>
                    </div>
                </div>
            </div>
                        
            <div class="form-group row ">
                <!--Boton de registrar nuevo cliente-->
                <div class="col-sm-6">
                    <!--Se verifica si el cliente no tiene un ID. Si la expresión es verdadera (es decir, el cliente no tiene un ID), el botón se mostrará.-->
                    <button class="btn btn-success" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
                    <!--Si la expresión es falsa (es decir, el cliente tiene un ID), la directiva else se activa y el bloque de código <ng-template #elseBlock> se muestra en su lugar.-->
                    <ng-template #elseBlock >
                        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>

